<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../static/styles/4-common.css?{{ cache_id }}">
	<link rel="stylesheet" type="text/css" href="../static/styles/dashboard-main.css?{{ cache_id }}">
	<link rel="icon" href="../static/images/icon.png?{{ cache_id }}" />
	<script src="https://kit.fontawesome.com/11423b0f4d.js?{{ cache_id }}" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css?{{ cache_id }}">
    <script src="//code.jquery.com/jquery-3.2.1.min.js?{{ cache_id }}"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js?{{ cache_id }}"></script>
	<script src="../static/scripts/dashboard.js?{{ cache_id }}" type="module"></script>
	<title>Dashboard</title>
</head>

<body>
	<div class="main">
		<div class="leftmenu">
			<a href="javascript:void(0)" class="closebtn">&times;</a>
			<div class="profile">
				<div class="picture"></div>
				<div class="names">
					<p class="name">Balogun Adedotun</p>
					<p class="email">adedotun_balogun@yahoo.com</p>
				</div>
			</div>
			<div>
				<ul class="folders fol">
					<li data-id="{{ important }}">
						<i class="far fa-star"></i>
						<p>Important</p>
					</li>
					<li data-id="{{ all }}">
						<i class="fa-regular fa-file"></i>
						<p>All</p>
					</li>
					<li data-id="{{ completed }}">
						<i class="fa-solid fa-check"></i>
						<p>Completed</p>
					</li>
					<li data-id="{{ task }}">
						<i class="fa-solid fa-house"></i>
						<p>Task</p>
					</li>
					<hr>
					<h2>Lists</h2>
				</ul>
			</div>
			<div class="lists">
				<ul class="folders">
					{% for obj in obj %}
					<li data-id="{{ obj.id }}">
						<i class="fa-regular fa-folder"></i>
						<p>{{ obj.folder_name }}</p>
					</li>
					{% endfor %}
				</ul>
			</div>
			<div class="newFolder">
				<input type="text" class="searchbar" placeholder="Add leat" id="addList">
				<i class="fa-solid fa-plus glass"></i>
			</div>
		</div>
		<div class="tadoarea">
			<div class="todos">
				<div class="searchBarContainer">
					<input type="text" class="searchbar" placeholder="Search">
					<i class="fa-solid fa-magnifying-glass glass"></i>
				</div>
				<span style="font-size:30px;cursor:pointer" class="openbtn">&#9776;</span>
				<h1 class="foldername">Important</h1>
				<div class="allTask">
					<div id="unchecked">

					</div>
					<div class="completedbtn">
						<p>Completed <span id="done"></span></p>
					</div>
					<div id="checked">

					</div>
				</div>

				<div class="addBarContainer">
					<input type="text" class="searchbar" placeholder="Add task" id="addTask">
					<i class="fa-solid fa-plus glass"></i>
				</div>
			</div>
			<div class="details">
				<a href="javascript:void(0)" class="detailsbtn">&times;</a>
			</div>
		</div>
	</div>
</body>

</html>