<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400&family=Tenor+Sans&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../static/styles/4-common.css?{{ cache_id }}">
  <link rel="stylesheet" type="text/css" href="../static/styles/landing.css?{{ cache_id }}">
  <link rel="icon" href="../static/images/icon.png?{{ cache_id }}" />
  <script src="https://code.jquery.com/jquery-3.2.1.min.js?{{ cache_id }}"></script>
  <script src="../static/scripts/login.js?{{ cache_id }}"></script>
	<script src="https://kit.fontawesome.com/11423b0f4d.js?{{ cache_id }}" crossorigin="anonymous"></script>
  <title>Welcome</title>
</head>

<body>
  <nav class="nav_bar">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Features</a></li>
      <li><a href="/login/">login</a></li>
      <li><a href="/signup/">Signup</a></li>
    </ul>
  </nav>
  <div class="hero_body">
    <h1>Welcome to <img src="../static/images/DOIT.png" alt=""> an online productivity app</h1>
  </div>
  <div class="about">
    <h2>About</h2>
    <p>Welcome to our Todo app, where organizing your tasks has never been easier or more efficient. We created our app
      to help people like you stay on top of their daily tasks and keep track of everything they need to do. Our app is
      designed to give you a clear and easy-to-use interface that lets you focus on your tasks without any distractions.
      <br>
      <br>
      The app was built by Balogun Adedotun as a portfolio project for ALX Africa. You can find the app's code on my GitHub repository, <a href="https://github.com/Dotunoflagos/do_it">github.com/Dotunoflagos/do_it</a>.
    </p>
  </div>
  <div class="features">
    <div>
      <h2>Features</h2>
      <p>Our Todo app comes with a wide range of features that will make your task organization process quick and
        simple. Here are some of the key features:</p>
    </div>
    <div>
      <div>
        <h3>Create Multiple Lists</h3>
        <i class="fa-solid fa-list"></i>
        <p>With our app, you can create as many lists as you want and organize your tasks in each list.</p>
      </div>
      <div>
        <h3>Reminder</h3>
        <i class="fa-solid fa-calendar-days"></i>
        <p>You can set up reminders for important tasks, so you never forget what needs to be done.</p>
      </div>
      <div>
        <h3>Important Tasks</h3>
        <i class="fa-regular fa-star"></i>
        <p>This feature enables the user to label a task as important, and then the task is shifted to a unique smart list.</p>
      </div>
      <div>
        <h3>Easy-To-Use Interface</h3>
        <i class="fa-regular fa-face-smile"></i>
        <p>Our app has an intuitive and easy-to-use interface, making it simple to add, edit, and delete tasks.</p>
      </div>
    </div>
  </div>
  <div class="contactus">
    <h2>Contact us</h2>
    <p>If you have any questions or concerns about the doit app, please don't hesitate to reach out to me via email at
      [Adedotun_balogun@yahoo.com] or through our contact. We're always happy to help and
      would love to hear from you!</p>
  </div>
</body>

</html>