<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/styles/4-common.css?{{ cache_id }}">
    <link rel="stylesheet" type="text/css" href="../static/styles/signup.css?{{ cache_id }}">
    <link rel="icon" href="../static/images/icon.png?{{ cache_id }}" />
	  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../static/scripts/login.js?{{ cache_id }}" type="module"></script>
    <title>Sign up</title>
  </head>
  <body>
    <div class="login_body">
      <div class="loading-bar"></div>
      <div class="signup_form">
        <img class="logo" src="../static/images/DOIT.png">
        <div class="signup">
			<div class="sesionmsg">
				<p></p>
			</div>
          <form action="/users" class="form" method="POST" id="form">
            <input type="email" name="email" id="email" placeholder="email">
            <div class="password_box">
              <img class="eye" src="../static/images/Eye---Slash.png">
              <input type="password" name="password" id="password" placeholder="password">
            </div>
            <button>Login</button>
          </form>
       </div>
      </div>
    </div>
  </body>
</html>
