.main {
    height: 100vh;
}

/*Left menu*/
.leftmenu {
    width: 350px;
    /*background-color: #FFF9F1;*/
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.1) 3px 0 3px 0px;
    height: 100%;
    /* 100% Full-height */
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.2s;
    /* 0.5 second transition effect to slide in the sidenav */
    display: flex;
    flex-direction: column;
}

.lists {
    overflow: auto;
    flex-grow: 1;
}

.lists:before {
    content: '';
    position: absolute;
    top: 432px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    width: 100%;
    z-index: 1;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
    height: 30px;
}

.leftmenu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 30px !important;
    color: #333333;
    display: block;
    /*transition: 0.3s;*/
}

.leftmenu ul li {
    padding: 18px 8px 18px 50px;
    text-decoration: none;
    font-size: 18px;
    color: #333333;
    display: flex;
    align-items: center;
    /*transition: background-color 0.1s;*/
    list-style: none;
    cursor: pointer;
}

.leftmenu ul li i {
    margin-right: 20px;
    min-width: 30px;
    display: flex;
    justify-content: center;
}

#box,
#star {
    color: #333;
}

/*.leftmenu>ul>li:hover {
    padding-bottom: 15px !important;
    border-bottom: 3px solid #00ced1 !important;
}*/

.leftmenu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.profile {
    display: flex;
    padding-left: 50px;
    margin-bottom: 19px;
    align-items: center;
}

.picture {
    height: 60px;
    width: 60px;
    border-radius: 50px;
    background-color: /*#004d73*/rgb(75, 73, 77);
}

.names {
    margin-left: 10px;
}

.names :nth-child(1) {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 6px;
}

.names :nth-child(2) {
    font-size: 11px;
}

/*.active {*/
    /*background-color: #FFFFFF;*/
    /*padding-bottom: 15px !important;
    border-bottom: 3px solid #00ced1 !important;*/
/*}*/

.selfol {
    height: 20px;
    width: 5px;
    border-radius: 5px;
    background-color: blueviolet;
    content: '';
    left: 0;
    margin-left: 25px;
    position: absolute;
    transition: translate .1s;
    translate: -32px
}

.active i {
    color: /*#ffbf47*/#ffaf18;
}

.folders h2 {
    margin-bottom: 20px;
    margin-left: 56px;
}

.folders hr {
    margin-bottom: 20px;
}

/**Todo area*/
/*
.tadoarea .openbtn {
    position: absolute;
    top: 0;
    left: 40px;
    font-size: 23px !important;
    padding-top: 8px;
}*/
.closelogout {
    display: flex;
    /* width: 100%; */
    justify-content: space-between;
    margin: 4px 40px 0;
    align-items: baseline;
}

.logout {
    text-decoration: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.rbtn {
    background-color: /*#004d73*/blueviolet;
    padding: 5px 13px;;
    border-radius: 50px;
}

.rbtn:hover {
    opacity: 90%;
}

.tadoarea {
    transition: margin-left 0.2s;
    margin-left: 350px;
    /*padding: 16px;*/
    height: 100%;
    display: flex;
    flex-direction: column;
}

.todos {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    position: relative;
    /*margin-right: 350px;
    padding: 40px;*/
    margin-right: 0px;
}

.searchbar {
    margin-top: 30px;
    padding-left: 70px;
    font-size: 17px;
    height: 45px;
    background-color: #FFFFFF;
    border-radius: 6px;
    width: 100%;
    border: none;
}

.searchBarContainer {
    position: relative;
    margin: 0px 40px 0;
}

.addBarContainer {
    position: relative;
    margin: 0 40px 40px;
}

.glass {
    margin-left: 30px;
    margin-top: 41px;
    position: absolute;
    font-size: 23px;
    left: 0;
}

.folderdelete {
    display: flex;
    margin: 20px 40px 0;
}

.folderdelete .delete {
    margin-left: 20px;
}

/*#unchecked {
    /*margin-top: 30px;*
}*/

.task {
    padding: 0 30px;
    margin-bottom: 7px;
    font-size: 17px;
    height: 50px;
    background-color: #FFFFFF;
    border-radius: 6px;
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 3px 0px;
}

.allTask {
    overflow: auto;
    padding: 0 40px;
    border-radius: 10px;
    flex-grow: 1;
    margin-top: 20px;
}

.todos,
.task {
    transition: 0.2s;
}

.task :nth-child(1),
.task :nth-child(2) {
    display: flex;
    align-items: center;
}

.todos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.checkbox {
    width: 20px;
    height: 20px;
    border: 2px solid rgb(44, 44, 44);
    cursor: pointer;
    border-radius: 50%;

    justify-content: center;
    align-items: center;
    font-size: 11px;
    color: white;
}

/* Show a checkmark when the checkbox is checked */
.checked {
    background-color: /*#004d73*/blueviolet;
    border-color: /*#004d73*/blueviolet;
    font-size: 12px;
    color: #fff;
    text-align: center;
}

.checked::before {
    content: '';
    padding: 6px;
    background-image: url(../images/check-solid.svg);
    background-repeat: no-repeat;
}

.important {
    color: /*#004d73*/blueviolet;
    font-size: 18px;
}

.taskName {
    margin-left: 20px;
}

.dueDate {
    margin-right: 20px;
}

.completedbtn {
    padding: 0 30px;
    margin-bottom: 7px;
    font-size: 17px;
    height: 30px;
    background-color: #FFFFFF;
    border-radius: 6px;
    width: max-content;
    border: none;
    display: flex;
    align-items: center;
}

/*right */
.details {
    /*width: 350px;*/
    width: 0px;
    background-color: #ffffff;
    height: 100%;
    /* 100% Full-height */
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    right: 0;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.2s;
    /* 0.5 second transitio`n effect to slide in the sidenav */
}

.details a {
    margin: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 30px !important;
    color: #333333;
    display: block;
    /*transition: 0.3s;*/
}

.details #task_name {
    border: none;
    font-size: 24px;
    font-weight: 600;
    outline: none;
    min-width: 10px;
    flex-grow: 1;
}

#myTextarea {
    width: 100%;
    min-height: 200px;
    resize: none;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    outline: none;
    background-color: #fdfdfd;
    color: #6a6a6a;
    padding: 15px;
    box-shadow: inset rgb(0, 0, 0, 0.1) 2px 2px 3px 0px;
    font-family: inherit;
}

.details .detailsbtn {
    position: absolute;
    top: 0;
    right: 31px;
    font-size: 36px;
    /*margin-left: 50px;*/
}

.dateInput {
    /* Modify the width and height of the input element */
    width: 100%;
    height: 40px;

    /* Change the background color */
    background-color: #f2f2f2;

    /* Add padding and border */
    padding: 10px;
    border: 1px solid #ccc;

    /* Change the font family and size */
    font-family: Arial, sans-serif;
    font-size: 16px;

    /* Change the color of the text */
    color: #333;

    /* Add rounded corners */
    border-radius: 5px;

    outline: none;
}

.details>div {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
}

.taskselected {
    background-color: #fff9f1;
    box-shadow: rgb(0, 0, 0, 0.1) 4px 4px 3px 0px;
}

.namddelete {
    display: flex;
    width: 100%;
}

.delete {
    flex-wrap: wrap;
    align-content: center;
    margin-top: 6px;
    font-size: 20px;
    color: /*#ffbf47*/#ffaf18;
    cursor: pointer;
    margin-left: 20px;
}

.detailsbod .us {
    padding-top: 20px;
}

.detailsbod .us>div {
    padding-bottom: 8px;
    font-size: 18px;
}

#addList {
    margin-bottom: 40px;
}