* {
    font-family:
        /*'Tenor Sans'*/
        'Jost', 'Roboto', sans-serif;
    font-size: 19px;
    color: #323232;
}

h2 {
    font-size: 40px;
    font-weight: 600;
}

.hero_body h1 {
    display: flex;
    align-items: center;
    font-size: 50px;
    justify-content: center;
    font-family:
        /*'Tenor Sans'*/
        'Jost', 'Roboto', sans-serif;
    /*font-weight: 200;*/
    color: white;
    border-radius: 8px;
    padding: 6px 45px;
    background-color: #2222220f;
    backdrop-filter: blur(5px);
    margin: 0px;
    text-align: center;
}

.hero_body .container {
    justify-content: center;
    align-items: center;
    display: flex;
}

.hero_body img {
    margin: 0 10px;
}

.hero_body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../images/kelly-sikkema.jpg');

    /*paralex*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0e1b33;
}

.nav_bar {
    position: fixed;
    display: flex;
    z-index: 1;
    height: 64px;
    background-color: #2222220f;
    right: 0;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    backdrop-filter: blur(5px);
}

.nav_bar ul {
    display: flex;
    /* position: fixed; */
    /* z-index: 1; */
    top: 0;
    margin: 0 120px;
}

.nav_bar ul li {
    list-style: none;
    margin: 0 20px;
}

.nav_bar ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    font-family:
        /*'Tenor Sans'*/
        'Jost', 'Roboto', sans-serif;
    font-weight: 200;
}

.nav_bar ul li :hover {
    color: #ffbf47;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px;
    /*height: 100vh;*/
    background-color:
        /*#0e1b33*/
        #ffbf47;
}

/*.about p {
    width: 800px;
}*/

.features,
.contactus {
    /*display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;*/
    padding: 80px;
}


/*.features :nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
}*/

.features>:nth-child(1) p {
    /*display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;*/
    padding-bottom: 50px;
}

/*
.features>:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.features>:nth-child(2) div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border: solid 1px #004D73;
    padding: 20px;
    border-radius: 12px;
    margin: 0 10px;
    /*width: 300px;*/
/* min-height: 330px;
}*/

.features>:nth-child(2) div i {
    display: inline;
    color: #ffbf47;
    font-size: 23px;
    margin: 0 10px 0;
}

.features>:nth-child(2) div img {
    height: 400px;
    border-radius: 20px;
    box-shadow: rgb(0 0 0 / 11%) 0px 20px 40px 12px;
    padding: 12px;
}

.navbar {
    background: rgba(0, 0, 0, 0.164);
    backdrop-filter: blur(10px);
}

.navbar-nav {
    margin-left: auto;
}

.nav-link {
    color: #fff;
}

.doitlogo {
    height: 40px;
}

.features h3 {
    display: inline;
}

.image-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
}

.pmov {
    width: 100%;
    min-height: 244px;
    overflow: hidden;
    flex-flow: wrap;
    display: flex;
    flex-flow: column;
}

.grow {
    flex-grow: 1;
}

.backb {
    background-color: blueviolet;
    padding: 10px 0;
    /*#004D73*/
}